<li>
    <div>
        <p><strong>{{name}}</strong></p>
        <p>
        <button class="change-eaten" data-name="{{name}}" data-id="{{id}}" data-neweat="{{eaten}}">
            {{#if eaten}}FEED IT TO A CAT!{{else}}MAKE ANOTHER!{{/if}}
            </button>
        </p>
        <p>
        <button class="deleter" data-id="{{id}}">{{#if eaten}}Throw it in the trash.{{else}}Forget this. It was yucky.{{/if}}</button>
        </p>
    </div>
</li>