<li>
    <div>
        <p><strong>{{name}}</strong></p>
        <p>
        <button class="change-eaten" data-name="{{name}}" data-id="{{id}}" data-neweat="{{eaten}}">
            {{#if eaten}}YUM!{{else}}MORE!{{/if}}
            </button>
        <button class="deleter" data-id="{{id}}">{{#if eaten}}Yuck.{{else}}Gross.{{/if}}</button>
        </p>
    </div>
</li>