<li>
    {{name}}

    <button class="change-eaten" data-id="{{id}}" data-neweat="{{eaten}}">
        {{#if eaten}}EAT!{{else}}MAKE ANOTHER!{{/if}}
        </button>
    <button class="deleter" data-id="{{id}}">DELETE!</button>
</li>